<div id="fb-root"></div>
<script type="text/javascript">
    window.fbAsyncInit = function() {
        FB.init({
            appId: '135115683202895',
            status: true,
            cookie: true,
            xfbml: true
        });
    };

    (function(d) {
        var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement('script');
        js.id = id;
        js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js";
        ref.parentNode.insertBefore(js, ref);
    }(document));
</script>

<div id="genres"></div>
<div id="topPagination"></div>
<div id="message"></div>
<div id="albums" class="cube-portfolio">
    <div id="grid-container" class="cbp-l-grid-fullWidth">

    </div>
</div>
<div id="bottomPagination"></div>
