<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings"
                  type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SpotiKat.MongoDb.Configuration.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <SpotiKat.MongoDb.Configuration.Settings>
      <setting name="Url" serializeAs="String">
        <value>mongodb://spotikat:D!sc0o012#@ds047217.mongolab.com:47217/appharbor_be0ab48e-82d9-44cb-994d-0b120de066c2</value>
      </setting>
      <setting name="DatabaseName" serializeAs="String">
        <value>appharbor_be0ab48e-82d9-44cb-994d-0b120de066c2</value>
      </setting>
    </SpotiKat.MongoDb.Configuration.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>