<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings"
                  type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SpotiKat.Lastfm.Configuration.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <SpotiKat.Lastfm.Configuration.Settings>
      <setting name="ApiKey" serializeAs="String">
        <value>f32a210878b39261834c99ba82fd9e9a</value>
      </setting>
      <setting name="Secret" serializeAs="String">
        <value>4f44f07ce41e64e34751252d057da490</value>
      </setting>
      <setting name="ApiBaseUrl" serializeAs="String">
        <value>http://ws.audioscrobbler.com/2.0/?format=json&amp;api_key={0}&amp;method={1}</value>
      </setting>
      <setting name="ArtistGetSimilarMethodUrlParameter" serializeAs="String">
        <value>artist.getsimilar&amp;artist={0}&amp;limit=28</value>
      </setting>
    </SpotiKat.Lastfm.Configuration.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>