<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.1.0" requireReinstallation="True" />
  <package id="FakeItEasy" version="1.7.4626.65" requireReinstallation="True" />
  <package id="NUnit" version="2.6.4" targetFramework="net45" />
  <package id="ServiceStack.Common" version="4.0.42" targetFramework="net45" />
  <package id="ServiceStack.Interfaces" version="4.0.42" targetFramework="net45" />
  <package id="ServiceStack.Text" version="4.0.42" targetFramework="net45" />
</packages>